{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel='stylesheet' href=https://fonts.googleapis.com/css?family=Rubik:400,700'><link rel="stylesheet" href="{% static 'styles/style1.css' %}">

</head>
<body>

<!-- partial:index.partial.html -->
<div class="login-form">
  <form action="" method="post">
    {% csrf_token %}
    <h1>Login</h1>
    <p style="color:red;text-align:center">{% for msg in messages %}
            {{msg}}
          {% endfor %}</p>
    <div class="content">
      <div class="input-field">
        <input type="text" name="username" placeholder="User Name" autocomplete="nope">
      </div>
      <div class="input-field">
        <input type="password" name="password" placeholder="Password" autocomplete="new-password">
      </div>
      <a href="#" class="link">Forgot Your Password?</a>
    </div>
    <div class="action">
      <button href="register">Register</button>
      <button>Sign in</button>
    </div>
  </form>
</div>
<!-- partial -->
  <script  src="{% static 'js/script1.js' %}"></script>

</body>
</html>
