<div class="footer navbar-fixed-bottom my_footer">
    <p class="text-center">This website is brought to you by the CopyRight Office,
        Department For Promotion of Industry and Internal Trade,
        Ministry of Commerce and Industry, Government of India.
        While surfing through this site you will come across directories
        and links to Government and Private organizations. The contents of
        these sites are not to be construed as a responsibility of or
        endorsement by the Ministry and are owned by the respective organizations
        which may be contacted for any further information or suggestion
</p>
</div>