{% extends 'base.html' %}
{% block body %}

<section class="nm-collections-billboard" data-uia="collections-billboard">
    <section class="nm-collections-metadata" data-uia="collections-billboard-metadata">
        <div class="nm-collections-metadata-title">
            <h1>Movies</h1>
        </div>
        <div class="nm-collections-metadata-synopsis">
            <!-- -->Movies move us like nothing else can, whether they’re scary, funny, dramatic, romantic or anywhere in-between. So many titles, so much to experience.<!-- -->
        </div>
    </section>
</section><br>
<div class="container" style="color:black;padding:5px">
    <div class="row">
        {% for i in movie_list %}
        <div class="col-md-3">
            <div class="card" style="">
  <img class="card-img-top" src="{{i.img.url}}" alt="Card image cap" width="400px" height="200px">
  <div class="card-body" style="height: 100px">
    <h5 class="card-title" ><a href="{% url 'Movieapp:details' i.id %}"> {{i.name}}</a></h5>
<!--    <a href="{% url 'Movieapp:details' i.id %}" class="btn btn-primary">Go somewhere</a>-->
  </div>
</div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
