<!DOCTYPE html>
<html>
    <head>
<title>CALCULATE VALUES</title>
<style>
    h3{
        background-color: aqua;
        color: blueviolet;
        text-align: center;
    }
    form{
        text-align: center;
    }
</style>
<h3>ENTER YOUR VALUES</h3>
    </head>
<body>
    <form action="result/" method="get">
        <label>NUMBER 1</label>
        <input type="text" name="no1">
        <br><br>
        <label>NUMBER 2</label>
        <input type="text" name="no2"><br><br>
        <input type="submit" value="RESULT">
</body>
</html>